**/__pycache__/
*.py[cod]
*$py.class
.DS_Store
ref/
pvldbstyle-master/
*.webloc
*.zip
*.ipynb
.idea/
.vscode/
data/
graph/

# Ignore all files in "LaTeX" folders
/report/*

# Except .tex files and files in the /images/ folder
!/report/*.tex
!/report/*.bst
!/report/*.cls
!/report/*.bib
!/report/figures/